.game-layout
  width: 100vw
  padding: 16px 0px

  .progress
    width: 480px
    margin: 0 auto

  .question
    width: 480px
    margin: 16px auto

    md-radio-button
      padding: 8px 0px

    md-input-container
      width: 100%

    .button-container
      text-align: center
      padding-top: 16px

      .submit-button
        background-color: #2196f3
        color: #ffffff

    .gesture
      width: 20vw
      height: 20vw
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
