.basket-layout
  width: 100vw
  padding: 8px 0px

  md-card
    margin: 8px

    .avatar
      width: 72px
      height: 72px
      margin: 0 auto
      border-radius: 36px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover

    md-card-title
      text-align: center
      margin: 8px 0px
