.basket-layout
  width: 100vw
  padding: 8px 0px

  md-card
    margin: 8px
    padding: 24px 0px

    .avatar
      width: 72px
      height: 72px
      margin: 0 auto
      border-radius: 36px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover

    .name
      text-align: center
      margin: 8px 0px

    .user-info-item
      text-align: center

      .item-header
        font-size: 0.8em
        color: #757575

      .item-value
        padding-top: 8px

    .title
      padding-left: 24px
