/* 预设 Material Design 样式 */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* 矫正高德地图弹窗的样式 */
.amap-ui-smp-ifwn-content-body {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
  border: none !important;
}

/* 撑满页面 */
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* loader */
.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.loader-logo {
  height: 100px;
  background-image: url(/assets/images/logo.png);
  background-size: 64px;
  background-position: center;
  background-repeat: no-repeat;
}
